@import url(http://fonts.googleapis.com/css?family=Lato:400,300,300italic,400italic&subset=latin,latin-ext);

.search {
	margin: 14px 0 0 0;
}
.search input {
/*	margin: -3px 0 0 0;
	padding: 21px 0;*/
}
.top-nav-buttons {
	float: right;
	list-style: none;
	margin: 11px 0 0 0;
}

.box {
	position: relative;
	background-color: #ffffff;
	box-shadow: 0px 0px 0px 1px rgba(39, 41, 43, 0.15), 0px 1px 2px 0 rgba(0, 0, 0, 0.05);
	padding: 1em 1em;
	margin-bottom: 20px;
	border-radius: 5px;
	border: none;
}
.footer-info {
	font-size: 15px;
}

.nav-search {
	padding: 0 20px;
	display: inline-block;
	float: left;
}
.nav-search input {
	/*padding: 0 20px;*/
	width: 200px;
	display: inline-block;
	float: left;
}
.nav-search a {
	display: inline-block;
	float: left;
}


/* CATEGORY */

.category {
	max-height: 150px;
}

/* STYLES */

nav {
	margin: 0 0 20px 0;
}
.top-bar {
    margin-bottom: 30px;
}



footer {
	font-family: 'Lato';
    height: 100px;
    color: #fff;
    text-align: center;
    width: 100%;
	background: #333;
}
footer p {
	line-height: 100px;
}